<launch>
  <arg name="port_port" default="/dev/serial/by-id/usb-FTDI_USB_Serial_Converter_FT8VWDWP-if00-port0" />
  <node pkg="roboteq_driver" type="driver_node" name="port_driver" output="screen">
      <param name="port" value="$(arg port_port)" />
      <param name="baud" value="115200" />
      <!-- <remap
          from="roboteq_driver/cmd"
          to="roboteq_driver/port/cmd"
      />
      <remap
          from="roboteq_driver/feedback"
          to="roboteq_driver/port/feedback"
      /> -->
  </node>

  <arg name="star_port" default="/dev/serial/by-id/usb-FTDI_USB_Serial_Converter_FT8VW9AR-if00-port0" />
  <node pkg="roboteq_driver" type="driver_node" name="starboard_driver" output="screen">
      <param name="port" value="$(arg star_port)" />
      <param name="baud" value="115200" />
      <!-- <remap
          from="roboteq_driver/cmd"
          to="roboteq_driver/star/cmd"
      />
      <remap
          from="roboteq_driver/feedback"
          to="roboteq_driver/star/feedback"
      /> -->
  </node>

</launch>