<launch>
    <!-- Remapping -->
    <remap from="imu" to="sensors/imu"/>
    <remap from="fix" to="GPS/fix"/>
    <remap from="vel" to="GPS/vel"/>
    <remap from="GPS_coord" to="GPS/xy_coord"/>

	<!-- Motor command distributor -->
    <node pkg="motor_control" name="motor_control" type="motor_control_node.py" output="screen">
        <param name="sim" value="False"/>
        <param name='compass_offset' value='109.0'/>
    </node>

    <node pkg="asv_controller" name="master_controller" type="master_control_node.py" output="screen">
      <rosparam>
        /run: False
        /v_ref: 0.5
        /thrust/K: 500.0 
        /thrust/Ti: 1.0
        /rudder/K: 1000.0
        /rudder/Ti: 10.0
        /vel_threshold: 0.2
        /nav_mode: 'Waypoint'
        /transect/K_v: 20
        /transect/K_latAng: 0.5
        /transect/Kp_turn: 200
        /transect/speed_ref: 0.5
      </rosparam>
    </node>

    <node pkg="sim_asv" name="sim_asv" type="sim_node.py" output="screen">
      <rosparam>
        /v_current: 0.5
        /current_ang: 0.0
      </rosparam>
    </node>

    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>



</launch>
